<div id="function-div"
     class="shadow-sm"
     *ngIf="feature">
  <div>
    <h2>{{ feature.name }}</h2>
  </div>
  <div class="shadow-lg p-3 mb-5 bg-white rounded" id="column-box">
    <div id="column-left" class="border border-dark rounded">
      <h4>Priority:</h4>
      <p>{{ feature.priority }}</p>
      <h4>Status:</h4>
      <p>{{ feature.status }}</p>
    </div>
    <div id="column-right" class="border border-dark rounded">
      <h4>Description:</h4>
      <p>{{ feature.description }}</p>
    </div>
  </div>
  <div id="buttons-feature">
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addTaskModal">Create new Task</button>
    <button class="btn btn-warning" (click)="backPage()">Back to project</button>
  </div>
</div>

<div id="text-list">
  <h3>Tasks list:</h3>
</div>

<div class="card-container">
  <div class="card" *ngFor="let task of tasks">
    <div class="card-body">
      <h5 class="card-title">{{ task.name }}</h5>
      <p class="card-text">{{ task.description }} </p>
      <p class="card-text">Status: <b>{{ task.status }}</b> </p>
      <p class="card-text">Priority: <b>{{ task.priority }}</b></p>
      <div class="buttons">
        <button class="btn btn-success" (click)="taskDetails(task.id)">Details</button>
        <button class="btn btn-primary" (click)="editTask(task.id)" data-bs-toggle="modal" data-bs-target="#editTaskModal">Edit</button>
        <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form (submit)="createTask()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskModalLabel">Add new task</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>
            Name:
            <input type="text" [(ngModel)]="newTask.name" name="name" required>
          </label>
          <br>
          <label>
            Description:
            <textarea [(ngModel)]="newTask.description" name="description" maxlength="500" rows="7" required></textarea>
          </label>
          <br>
          <label>
            Priority:
            <select [(ngModel)]="newTask.priority" name="priority" required>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </label>
          <br>
          <label>
            Expected completion date:
            <input type="date" [(ngModel)]="newTask.doneDate" name="doneDate" required>
          </label>
          <br>
          <label>
            Create date:
            <input type="date" [(ngModel)]="newTask.createDate" name="createDate" required>
          </label>
          <br>
          <label>
            Status:
            <select [(ngModel)]="newTask.status" name="status" required>
              <option value="ToDo">ToDo</option>
              <option value="Doing">Doing</option>
              <option value="Done">Done</option>
            </select>
          </label>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Edit Task Modal -->
<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form (submit)="updateTask()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTaskModalLabel">Edit Task</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <label>
            Name:
            <input type="text" [(ngModel)]="editTaskArray.name" name="name" required>
          </label>
          <br>
          <label>
            Description:
            <textarea [(ngModel)]="editTaskArray.description" name="description" maxlength="500" rows="7" required></textarea>
          </label>
          <br>
          <label>
            Priority:
            <select [(ngModel)]="editTaskArray.priority" name="priority" required>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </label>
          <br>
          <label>
            Expected completion date:
            <input type="date" [(ngModel)]="editTaskArray.doneDate" name="doneDate"  required>
          </label>
          <br>
          <label>
            Create date:
            <input type="date" [(ngModel)]="editTaskArray.createDate" name="createDate"  required>
          </label>
          <br>
          <label>
            Status:
            <select [(ngModel)]="editTaskArray.status" name="status" required>
              <option value="ToDo">ToDo</option>
              <option value="Doing">Doing</option>
              <option value="Done">Done</option>
            </select>
          </label>
          <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
    </form>
  </div>
</div>
