<h2>List of Features</h2>

<ul>
  <li *ngFor="let feature of features">
    <h3>{{ feature.name }}</h3>
    <p>{{ feature.description }}</p>
    <a [routerLink]="['/projects/functionalities', feature.id]">Szczegóły</a>
  </li>
</ul>

<h2>Add New Feature</h2>

<form (submit)="addFeature()">
  <label>
    Name:
    <input type="text" [(ngModel)]="newFeature.name" name="name" required>
  </label>
  <br>
  <label>
    Description:
    <textarea [(ngModel)]="newFeature.description" name="description" required></textarea>
  </label>
  <br>
  <label>
    Priority:
    <select [(ngModel)]="newFeature.priority" name="priority" readonly required>
      <option value="Niski">Niski</option>
      <option value="Średni">Średni</option>
      <option value="Wysoki">Wysoki</option>
    </select>
  </label>
  <br>
  <label>
    Status:
    <select [(ngModel)]="newFeature.status" name="status" readonly required>
      <option value="ToDo">ToDo</option>
      <option value="Doing">Doing</option>
      <option value="Done">Done</option>
    </select>
  </label>
  <br>
  <button type="submit">Add</button>
</form>
